.antenna::before {
  background-image: url(../images/antenna.png);
}

.clock::before {
  background-image: url(../images/clock.png);
}

.diagram::before {
  background-image: url(../images/diagram.png);
}

.astronaut::before {
  background-image: url(../images/astronaut.png);
}

.peculiarities__text {
  line-height: 1.71;
}
